body{
background-color:#DFDED5;
margin:20px;
padding:20px;
}

nav{
background-image:url(dog3.jpg);
height:400px;
margin-left:300px;
margin-right:100px;	
}

.dogs1{
position:absolute;
top:100px;	
}
.video{
	margin-left:350px;
	margin-top:20px;
	
}
li{
list-style-type:none;
background-color:FFD673;
display:inline-block;
padding:20px;
position:relative;
width:150px;
text-align:center;
}

h1{
left:80px;
position:absolute;
top:40px;
}

.a1,.a2,.a3,.a4{
display:none;
position:absolute;
	
}
.b2:hover .a1{
display:block;
}

.b1:hover .a3{
display:block;
}

.b3:hover .a2{
display:block;
}

.b4:hover .a4{
display:block;
}

.a3{
right:0px;
}


.a1{
right:0px;
}

.a2{
right:0px;
}

.a4{
right:0px;
}

.dogg1,.dogg2,.dogg3{
height:150px;
width:250px;
}

.dooog{
position:absolute;
width:1000px;
height:300px;
}

a{
text-decoration:none;
color:#7A6E00;
}

table,td{
border:2px solid FFD673;
}

table{
width:100%;
text-align:center;
}

.doggg1,.doggg2,.doggg3,.doggg4,.doggg5,.doggg6,.doggg7,.doggg8{
height:200px;
}

.doglad{
display:inline-block;
}

.vitamin{
position:absolute;
left:500px;
top:35px;
}

.shampoo{
position:absolute;
top:35px;
}

.chesalka{
position:absolute;
left:900px;
top:35px;
}

.povidok{
position:absolute;
top:400px;
height:50px;
}

.klub4paws{
position:absolute;
top:400px;
height:50px;
left:500px;
}

.purina{
position:absolute;
top:400px;
height:50px;
left:900px; 
}

.royalСanin{
position:absolute;
top:765px;
height:50px;
}

.Pedigree{
position:absolute;
top:765px;
height:50px;
left:500px;
}

Button{
border-radius:50px;
border-color:908600;
background-color:FFD33D;
}

input{
border-radius:30px;
}

.divvvv{
position:absolute;
top:220px;
left:550px;
}
.cerse1{
	display:inline-block;

}
.fcerse1{
margin-right:150px;
}

.natalia{
position:absolute;
right:200px;
}